@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: lightskyblue;
}

.vertical-centered{
    padding: 2em;
    max-width: 50%;
    background-color: black;
    color:lightseagreen;
    
}

#clock{
    font-family: 'Nerko One', cursive;
    font-size: 1.5rem;
    
    }